﻿@charset "utf-8";
/* 신규 */
/*reset css*/
* {margin:0; padding:0;}
html, body {width:100%; height:100%; }
li { list-style-type:none;}
img { border:none; }
/*html::-webkit-scrollbar {width:0;}*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, textarea, input, select, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; color:#505050; font-size:16px; font-weight:400; font-family: "NanumBarunGothic",  "나눔 바른 고딕", "맑은 고딕", "돋움", "Dotum", "Baekmuk Dotum", "Undotum", "Apple Gothic", "Latin font", "sans-serif";}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
table {width:100%; border-collapse:collapse; border-spacing:0; border:0;}
ol, ul {list-style:none;}
img, fieldset, input {border:none; vertical-align:middle;}
img {-ms-interpolation-mode: bicubic;}
hr, caption {display:none;}
legend, caption {width:0; height:0; line-height:0; position:absolute; top:-9999px; left:-9999px; overflow:hidden; visibility:hidden;}
object {outline:none;}

/* Form Controls */
@import url("https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css");
@font-face {font-family:"Nanum Barun Gothic"; font-style:normal; font-weight:400; src:url("../font/NanumBarunGothic.eot"); src:url("../font/NanumBarunGothic.eot?#iefix") format('embedded-opentype'), local("☺"), url("../font/NanumBarunGothic.woff") format("woff"), url("../font/NanumBarunGothic.svg#NanumBarunGothic") format("svg");}

button, input, select, textarea {padding:0; margin:0; border-radius:0; color:#666; vertical-align:middle; font-size:13px; background:transparent;}
input[type="text"], button, html input[type="button"] {border:0 none; vertical-align:middle; /*outline:none;*/}
input[type="reset"], button, input[type="submit"] {-webkit-appearance:button; outline:none; cursor:pointer;}
button[disabled], html input[disabled] {cursor:default;}
input[type="checkbox"], input[type="radio"] {-webkit-box-sizing:border-box; box-sizing:border-box; padding:0;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0;}
textarea {border:0 none; overflow:auto; vertical-align:top; overflow-x:hidden; overflow-y:auto; resize:none;}
/* table.ui-datepicker-calendar { display:none; } */


/*base css */
body {font-family:'NanumBarunGothic', 'Malgun Gothic', dotum, gulim, verdana, sans-serif; background:#fff;}
a:link, a:visited{text-decoration:none; }
a:hover, a:focus{text-decoration:none; }

/* layout css */
#wrap_wrap { overflow:hidden; position:relative; width:100%;  min-height:100%; }
#wrap {overflow:hidden; position:relative; width:1139px; min-height:100%; margin:0 auto;}
#header { /* height:127px; */}
#footer { position:relative;  position: absolute; left: 0; bottom: 0; width: 100%; overflow:hidden;  background-color:#d6d8d8;    }
.visualWrap { overflow: hidden;  position: absolute;  bottom: 0; width: 1139px; }
.contentWrap { overflow:hidden;     padding-bottom: 96px;}
.section { overflow:hidden; }
.container { width:1139px; min-height:100%; margin:0 auto;}
.container.ft { position:relative; }

/* common */
.blind { position:absolute; left:-999999px;  width:1px; height:1px;  text-indent:-999999px; font-size:0; }
.hide { display:none; }
.ellipsis{white-space:nowrap; overflow:hidden; text-overflow: ellipsis;}
.bgNo { background:none !important; }
.dpBlock { display:block; }

.overfX { overflow-x:auto !important; }

/* font 폰트 */
.ft_red { color: #ef3a16 !important;}
.ft_blue { color:#225ad8 !important; }
.ft_yrGreen { color:#56BE4F !important; }
.ft_green { color:#005852 !important; }
.ft_skyBlue {color:#35a7ab !important;}

.ft_nm { font-weight:normal !important;  }
.ft_B { font-weight:bold !important;  }

.ft_12 { font-size:12px !important; }
.ft_14 { font-size:14px !important; }

/* 정렬 */
.txtCt { text-align:center !important; }

/* 여백 */
.mt16 { margin-top:16px !important;  }
.mt28 { margin-top:28px !important;  }

.mrNo { margin-right:0 !important; }
.mr1p { margin-right:1% !important; }
.mr5 { margin-right:5px !important; }
.mr15 { margin-right:15px !important; }

.ml2p { margin-left:2% !important; }
.ml15 { margin-left:15px !important; }

.mb10 { margin-bottom:10px !important; }
.mb20 { margin-bottom:20px !important; }

.mgCt{ margin:0 auto !important; }

.ptNo { padding-top:0 !important; }
.pt10 { padding-top:10px !important;  }
.pt13 { padding-top:13px !important;}
.pt30 { padding-top:30px !important;}
.pt80 { padding-top:80px !important;}

.pr10 { padding-right:10px !important; }

.pb10 { padding-bottom:10px !important;  }

/* border 보더  */
.bdNo { border:0 none !important;  }
.btNo { border-top:0 none !important; }
.brNo { border-right:0 none !important;  }

/* width 위드 */
.width50p { width:50% !important; }
.width80p { width:80% !important; }
.width90p { width:90% !important; }
.width96p { width:96% !important; }
.width98p { width:98% !important; }
.width100p { width:100% !important;  }

.width100 { width:100px !important;  }
.width120 { width:120px !important;  }

/* height 높이 */
.height326 { height:326px !important;  }
.height345 { height:345px !important;  }
.height350 { height:350px !important;  }
.height380 { height:380px !important;  }
.height400 { height:400px !important;  }
.height442 { height:442px !important;  }


/* button 버튼  */
.btnWrap { overflow:hidden; position:relative;  padding-top: 10px;padding-bottom:10px; margin-bottom:15px; text-align:right; background-color: #e5e8e9; }
.btnWrap2 {clear:both; overflow:hidden;padding-top: 10px;padding-bottom:10px; margin-bottom:15px; text-align:right; }

.btn01 { width:100px; height:40px; margin-left: 5px; margin-right:15px; color:#fff; font-weight:bold;  background-color:#7c8080; }
.btn01.on, .btn01:hover, .btn01:focus, .btn01:active {background-color:#35a7ab; }

.btn02 { width:100px; height:40px; margin-left: 5px; margin-right:15px; color:#fff; font-weight:bold;  background-color:#7c8080; }
.btn02:hover, .btn02:focus, .btn02:active {background-color:#35a7ab; }

.btn03 { width:80px; height:70px; color:#fff; font-weight:bold;  background-color:#7c8080;  }
.btn03:hover, .btn03:focus, .btn03:active {  background-color:#1f676a;  }

.btn04 { width:80px; height:70px; color:#fff; font-weight:bold;  background-color:#35a7ab;  }
.btn04:hover, .btn04:focus, .btn04:active { background-color:#1f676a;  }

.btn05 {min-width:70px; padding:5px 10px; height:30px; color:#fff; font-weight:bold;  background-color:#35a7ab;  }
.btn05:hover, .btn04:focus, .btn04:active { background-color:#1f676a;  }

.btn06 {min-width:70px; padding:5px 10px; height:30px;  line-height: 21px;color:#fff; font-weight:bold;  background-color:#7c8080;  }
.btn06:hover, .btn04:focus, .btn04:active { background-color:#1f676a;  }

.btn07 { width:80px; height:60px; color:#fff; font-weight:bold;  background-color:#7c8080;  }
.btn07:hover, .btn07:focus, .btn07:active {  background-color:#1f676a;  }

.btn08 { width:80px; height:60px; color:#fff; font-weight:bold;  background-color:#35a7ab;  }
.btn08:hover, .btn08:focus, .btn08:active { background-color:#1f676a;  }

.btn09 { width:100px; height:40px; margin-left: 5px; margin-right:15px; color:#fff; font-weight:bold;  background-color:#7c8080; }
.btn09.on, .btn09:hover, .btn09:focus, .btn09:active {background-color:#35a7ab; }

.btnClose { overflow:hidden; min-width:40px; height:40px; text-indent:-99999px; background:url("../images/btn/btnCloseBg.png") 50% 50% no-repeat #7c8080; }

.calenIcon, .ui-datepicker-trigger { position:absolute; top:10px; right:18px; }

.btnWrap li { position:relative; /* float:left; */ display:inline-block; }
.btnWrap .li01 { margin-right:15px; }
.btnWrap .li02 { margin-right:15px; }
input[type="text"].calender { width:150px; height:40px;padding:0; margin-left: 10px; margin-right:10px; line-height:41px; border:1px solid #3d8187; border-radius:5px; text-indent: 25px; background-color:#f8f8f8; }
input[type="text"].searchInput { width:200px; height:40px; margin-left: 10px; border:1px solid #3d8187; border-radius:5px; line-height:40px; text-align: center; background-color:#f8f8f8;  }
/* .calenderWrap .AXanchor .AXanchorDateHandle {right: 42px !important; top: 1px !important; width: 30px !important; height: 30px !important;} */
.calenderWrap .AXanchor .AXanchorDateHandle { width: 20px !important;}
.tab_btnWrap { overflow:hidden;  margin-bottom:15px;  width:100%;   }
.tab_btnWrap .tab_btn01 { float:left; width:50%; height:50px; }
.tab_btn01 a { display:block;  width:99.6%; line-height: 48px; text-align: center;  color: #606060; background-color: #f8f8f8;   border: 1px solid  #cbd4d9; }
.tab_btn01.on a, .tab_btn01 a:hover, .tab_btn01 a:focus, .tab_btn01 a:active  { color: #fff;  background-color: #3d8187;  }

/* 체크박스 */
.checkWrap { overflow:hidden; position:relative;  padding-top: 10px;padding-bottom:10px; margin-bottom:15px; text-align:left; background-color: #efefef; }
.checkWrap li { position:relative;  display:inline-block; margin-right:10px; margin-left:10px; }
/* .checkWrap li:first-child { margin-left:20px; } */
.checkWrap li:last-child { margin-right:0; }
.checkWrap li label {  font-size:14px;  }
.checkWrap input[type="checkbox"] { opacity: 0; filter: alpha(opacity=0);  position: absolute; top: 5px; right: 11px; cursor:pointer; } 
.checkWrap li label:after  { content:" "; display:inline-block; width:14px; height:16px; vertical-align: middle; margin-left: 5px; background:url("../images/btn/checkbox.png") 0 0 no-repeat; background-size:28px; cursor:pointer;}
.checkWrap li.checked label:after { background-position:-14px 0 ; }

.checkWrap02  { overflow:hidden; position:relative;  padding-top: 8px;padding-bottom:8px; text-align:left; }
.checkWrap02 li { position:relative;  display:inline-block; margin-right:10px; }
.checkWrap02 li:last-child { margin-right:0; }
.checkWrap02 li label {  font-size:14px;  }
.checkWrap02 input[type="checkbox"] { opacity: 0; filter: alpha(opacity=0);  position: absolute; top: 4px; right: 1px; cursor:pointer; } 
.checkWrap02 li label:after  { content:" "; display:inline-block; width:14px; height:16px; vertical-align: middle; margin-left: 5px; background:url("../images/btn/checkbox.png") 0 0 no-repeat; background-size:28px; cursor:pointer;}
.checkWrap02 li.checked label:after { background-position:-14px 0 ; }

/* skip */
.skip_nav { }
.skip_nav li a { display:block; position:absolute; top:-100px; width:100%; text-align:center; font-weight:bold;   }
.skip_nav li a:focus { top:0px;  }

/* header */
.header01 {position:relative;  overflow:hidden;height:78px;  }
.header01 li { float:left; }
.logo { padding-top:20px;  }
.logo img { width:100%;  }
.custom_btn {position:absolute;  top:32px; right:0; width:87px; height:26px;  background-color:#434845;  }
.custom_btn a { display:block; width:100%; height:100%; color:#fff; text-align:center; font-size:13px; line-height:26px;}

/*  네비게이션 */
.gnb { position:relative;z-index: 300;  }
.gnb > li { float:left; width:224.8px; height:49px;  border-right:3px solid transparent;  }
.gnb > li:last-child { width:227.8px; border-right:0 none; }
.gnb > li > a:link, .gnb > li > a:visited { display:block; width:100%; height:100%; line-height:49px; font-size:17px; text-align:center; color:#fff;  background-color:#35a7ab;  }
.gnb > li > a:hover, .gnb > li > a:focus, .gnb > li > a:active { background-color:#1f676a; }

nav { position:relative; }
.sub_gnb { display:none; position:absolute; top:49px; width: 19.9%; height: 510px; padding: 8px 0;z-index:300; border-bottom:1px solid #35a7ab; background: #fff;}
.sub_gnb li {    padding: 8px 0; text-align:center; font-weight:bold; color:#1f676a; }
.sub_gnb li a:link, .sub_gnb li a:visited {display:block; width:100%; height:100%;  text-align:center; }
.sub_gnb li a:hover, .sub_gnb li a:active, .sub_gnb li a:focus { color:#35a7ab;  }
.bg_subgnb {float:none; display:none; position:absolute; top:49px; width: 99.8% !important; height: 560px !important;  border:1px solid #35a7ab; z-index:299; background-color:#fff;  }

.sub_gnb.gnb1 { border-left:1px solid #35a7ab;  }
.sub_gnb.gnb2{ border-right:2px solid #fff; }
.sub_gnb.gnb3{border-right:1px solid #fff; }
.sub_gnb.gnb4{ border-right:1px solid #fff; }
.sub_gnb.gnb5{ border-right:1px solid #35a7ab; }



.gnb:after { display:block; content:" "; clear:both; }

/* 모바일 네비게이션 */
.mb_nav { position:relative; display:none;     z-index: 298;}
.mb_nav:before { content: " "; display: block; position: fixed;  top: 0; left:0;  width: 100%;  height: 100%; opacity: 0.5; filter: alpha(opacity=50); background-color: #333; z-index:299; }

.mb_naviBar {  display:none; position:absolute; right:10px; top: 25px; }
.mb_naviBar img { width:100%; }

.mb_navBtn { padding:1px 8px 3px; border:2px solid #3d8187; color:#3d8187; font-weight:bold; font-size:18px; }

.mb_gnb {position: fixed;  top: 0;  right: 0;  width: 300px; height: 100%; background-color: #1f676a;  z-index: 300;}
.mb_gnb > li { width:100%; }
.mb_gnb > li > a:link, .mb_gnb > li > a:visited { display:block; width:100%; height:100%; border-bottom: 2px solid #fff;line-height:49px; font-size:17px; text-align:center; color:#fff;  background-color:#35a7ab;  }
.mb_gnb > li.on > a , .mb_gnb > li > a:hover, .mb_gnb > li > a:focus, .mb_gnb > li > a:active { background-color:#1f676a; }
.mb_sub_gnb { display:none; background: #fff; }
.mb_sub_gnb.on { display:block; }
.mb_sub_gnb > li {  text-align:center; line-height:45px; }
.mb_sub_gnb > li.tit  {font-weight:bold; color:#1f676a; background-color:#ccedef; }
.mb_sub_gnb > li.tit > a {font-weight:bold; color:#1f676a; background-color:#ccedef; border-bottom: 2px solid #fff; }
.mb_sub_gnb > li a:link, .mb_sub_gnb > li a:visited {display:block; width:100%; height:100%; }
.mb_sub_gnb > li a:hover, .mb_sub_gnb > li a:focus, .mb_sub_gnb > li a:active { color:#35a7ab; }
.btn_close { position:fixed; top:0; right:300px; z-index: 301; cursor:pointer; }

.mb_sub_gnb_sub { display:none; background: #fff;  }
.mb_sub_gnb_sub li {   text-align:center; line-height:45px; }
.mb_sub_gnb_sub li a:link, .mb_sub_gnb_sub li a:visited {display:block; width:100%; height:100%; }
.mb_sub_gnb_sub li a:hover, .mb_sub_gnb_sub li a:focus, .mb_sub_gnb_sub li a:active { color:#35a7ab; }


/*  */
.pagingArea { width:100%; clear:both; padding-top:15px; }
.paging {  text-align:center;}
.paging a { display:inline-block; overflow:hidden; margin:0 4px; color:#616161; font-size:12px; }
.paging strong { display:inline-block; overflow:hidden; margin:0 4px; color:#333; font-size:14px; font-weight:800; }
.paging .prev { width:11px; height:15px; text-indent:-9999px; background:url("../images/btn/btn_prev.png") 0 0 no-repeat;  }
.paging .next { width:11px; height:15px; text-indent:-9999px; background:url("../images/btn/btn_next.png") 0 0 no-repeat;  }

/* footer */
#footer { padding-bottom:20px;  }
.ft_logo {  position:absolute; top:29px; padding-left:29px;   }
.address {padding-left:370px;  }
.ft_gnb { overflow:hidden; }
.ft_gnb  li { float:left; padding:0 17px; margin-top: 5px; background:url("../images/btn/ft_gnbBar.jpg") 100% 50% no-repeat;    }
.ft_gnb  li:first-child{ padding-left:0; }
.ft_gnb  li a { display:block; width:100%; height:100%; font-size:13px; line-height:37px;   }

address { font-style: normal; font-size:13px; line-height:17px;  } 
address span { font-size:13px;  }
address .copyright { display:block;  font-style: normal; font-size:13px; line-height:17px;   }

/* openpopup */
.openPopup { display: block; margin:150px auto; } 

/* pc mb ver */
.pcverWrap { display:block; width:100%; }
.mbverWrap { width:100%; }
.mbverWrap .selectWrap { display:none; }







